body{
  background: hsl(212, 45%, 89%);
  margin: 0;
  box-sizing: border-box;
  font-family: outfit, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

}

.card{
  background: white;
  border-radius: 1.1rem;
  padding: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
  margin-bottom: 60px;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  width: 18rem;
  
}

.text-area{
  text-align: center;
  padding: 13px;
}

h1{
  font-size: 23px;
  color: hsl(218, 44%, 22%);
  
}

p{
  font-size: 16px;
  color: hsl(220, 15%, 55%);
}

