body{
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background: hsl(212, 45%, 89%);
  height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card{
    background: white;
    box-sizing: border-box;
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:-5px 1px 25px hsl(220, 15%, 55%,0.3);
    border-radius: 20px;
    margin: 80px;
}

img{
    width: 440px;
    border-radius: 12px;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    font-size: 2.2em;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0px;
    
}

p{
    font-size: 1.5em;
    color: hsl(220, 15%, 55%);
    margin-bottom: 80px;

}

@media (max-width: 375px){
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 300px;
    }
    h1{
        font-size: 26px;
    }

    p{
        font-size: 18px;
    }
}